@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    margin-block: 70px;
}

.card {
    width: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #333;
    border-radius: 5px;
    padding-block: 70px;

}



@media screen and (max-width:650px) {
    .card {
        width: 450px;
        height: 800px;
        border: 1px solid #000;
        display: flex;
        flex-direction: column;
        background-color: yellow;
        
    }

    .card img{
        width: 250px;
        margin-top: 10px;

    }

    .text p{
        font-size: 15px;
    }

    .text .title {
        font-family: 'Poppins', sans-serif;
        margin-top: 20px;
        font-size: 20px;
        margin-left: 9px;
        
    }

    .review {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .dollar {
        margin-top: 10px;
        font-size: 15px;
    }

    .cart {
        display: flex;
        font-size: 700;
        color: black;
    }

    button {
        width: 30px;
        height: 20px;
        margin-top: 50px;
        background-color: black;
        border-radius: 5px;
        text-transform: uppercase;
        margin-left: 150px;
    }

    .check #none {
        color: black;
    }

    .rate {
        font-size: 60px;
        margin-top: 10px;
    }
    
}

.card img {
    height: 450px;
}


.text .title {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    
}

.review {
    display: flex;
    margin-top: 20px;
    letter-spacing: 2px;
    font-size: 25px;
}

.check {
    color: aqua;
}

.check #none {
    color: black;
}

.rate {
    margin-left: 10px;
    font-size: 25px;
}

.dollar {
    margin-top: 10px;
}
.quantity {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.many {
    font-size: 20px;
    font-weight: 500;
    opacity: 0.7;
}

.weight {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
   
}

.gram {
    font-size: 20px;
    font-weight: 500;
    opacity: 0.7;
}

.cart {
    display: flex;
    margin-right: 10px;
    font-size: 900;
    color: black;
}

.cart a {
    text-decoration: none;
}

#plus {
    opacity: 0.7;
}

#minus {
    opacity: 0.7;
}

.weight i {
    margin-right: 10px;
}

button {
    width: 120px;
    height: 30px;
    margin-top: 10px;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
}
